body {
  background: radial-gradient(ellipse at top, #B4D4FF, #ccdcf3, transparent),
              radial-gradient(ellipse at bottom, #6effdd, #23d5ab, transparent);
  background-size: 200% 200%;
  animation: color 30s ease-in-out infinite;
  overflow: hidden;
}

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}