@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
  background-color: #EDE7DE;
  font-family: 'Oxygen', sans-serif;
}

.navbar {
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-block: 14px;
  padding-inline: 4px;
  background-color: #F4F1EB;
  border-radius: 50px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #566F6B;
  padding-inline: 32px;
  padding-block: 10px;
  border-radius: 50px;
}

.navbar-active {
  background-color: rgb(255, 255, 255);
  transition: background-color 1s ease;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #025A4E;
}

main .home-section {
  width: 70%;
  font-size: 36px;
  text-align: center;
}

main .home-section .greetings{
  letter-spacing: -2px;
  font-size: 36px;
}

main .home-section .greetings h1{
  letter-spacing: -8px;
  font-size: 108px;
}

.home-about {
  font-size: 24px;
  letter-spacing: 0;
  color: #566F6B;
  margin-top: 48px;
}


footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
};