@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Inter&display=swap');

* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-font-color: #131313;
    --secondary-font-color: #838383;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

.nav-list li a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-size: 20px;
}

main .home-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .home-content .greetings {
    color: var(--primary-font-color);
    font-size: 20px;
    letter-spacing: 6px;
}

main .home-content .name {
    color: var(--primary-font-color);
    font-family: 'Fira Code', monospace;
    font-size: 100px;
    font-weight: 700;
}
